body {
    margin: 0;
    font-size: 24px;
}
head, header, footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
                    /**Header**/
header {
    background-color: #1f2937;
    min-width: 100%;
}
        /**Navbar**/
.header-container .navbar {
    padding-bottom: 1%;
display: flex;
justify-content: space-between;
min-width: 40vh;
background-color: #1f2937;
}
    /**Navbar-Left**/
.left-header {
    margin-left: 10%;
}
.left-header p {
    font-weight: bold;
    font-size: larger;
}
    /**Navbar-Right**/
.navbar .right-header {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    min-width: 100%;
    /**Typography**/
    font-size: 18px;
    list-style: none;
}
.right-header a {
    color: #e5e7eb;
}
.links { 
    display: flex;
    margin-right: 5%;
    
}
.links a {
    /**Typography**/
    color: #e5e7eb;
    text-decoration: none;
}
        /**Hero Section**/
.header-hero_section {
    display: flex;
    margin-left: 10%;
    padding-bottom: 5%;

    /**Typography**/
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header-hero_section .left-hero_section .subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.left-hero_section {
    flex: 50%;
    align-items: center;
}
.left-hero_section p{
    margin: 0px;
}
.right-hero_section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 50%;

    margin: 0px 5% 2% 1%;
    /**Typography**/
    font-size: 18px;
    color: #e5e7eb;
    text-align: start;
}
.right-hero_section .img{
    background-color: #e5e7eb;
    height: 150px;
    width:  400px;
}