body {
    display: flex;
    flex-direction: column;
    /**Box Model**/
    margin: 0;
    /**Typography**/
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
head, header, footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
                                               /**Header**/
header {
    background-color: #1f2937;
    min-width: 100%;
}
        /**Navbar**/
.header-container .navbar {
    padding-bottom: 1%;
display: flex;
justify-content: space-between;
min-width: 40vh;
background-color: #1f2937;
}
    /**Navbar-Left**/
.left-header {
    margin-left: 10%;
}
.left-header p {
    font-weight: bold;
    font-size: larger;
}
    /**Navbar-Right**/
.navbar .right-header {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    min-width: 100%;
    /**Typography**/
    font-size: 18px;
    list-style: none;
}
.right-header a {
    color: #e5e7eb;
}
.links { 
    display: flex;
    margin-right: 5%;
    
}
.links a {
    /**Typography**/
    color: #e5e7eb;
    text-decoration: none;
}
        /**Hero Section**/
.header-hero_section {
    display: flex;
    margin-left: 10%;
    padding-bottom: 5%;

    /**Typography**/
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.left-hero_section .subtext {
    font-size: 18px;
    color: #e5e7eb;
}
.left-hero_section .subtext button{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 15px;

  background-color: #3882F6;
  color: #f9faf8;
  border-radius: 5%;
  border-color: #3882F6;
}

.left-hero_section {
    flex: 50%;
    align-items: center;
}
.left-hero_section p{
    margin: 0px;
}
.right-hero_section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 50%;

    margin: 0px 5% 2% 1%;
    /**Typography**/
    font-size: 18px;
    color: #e5e7eb;
    text-align: start;
}
.right-hero_section .img{
    background-color: #e5e7eb;
    height: 150px;
    width:  400px;
}

                                            /**Body**/
body .content {
    display: flex;
    flex-direction: column;
}
.content-header {
    margin-top: 10px;
    font-size: 36px;
}
.content-header p{
    display: flex;
    justify-content: center;
    font-size: 36px;
    min-width: 100%;

    /**Typography**/
    font-weight: bolder;
}
.content-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px
}
.content-images .img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;

    border-color: #3882F6;
}
.img-1, .img-2, .img-3, .img-4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;

    max-width: 250px;
}
.img-1 p, .img-2 p, .img-3 p, .img-4 p {
    text-align: center;
    max-width: 200px;
}
                /**Content-Qoute**/
.content-qoute {
    background-color: #e5e7eb;
    padding: 150px 100px;

    font-style: italic;
}
.content-qoute p {
    font-size: 36px;
}

.author p{
    font-style: normal;
    font-weight: bold;
}

                /**Call to action**/
.call-to-action {
    display: flex;
    flex: 2 0 auto;
    justify-content: space-around;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 15px;
    border-style: solid;
    border-color: #3882F6;
    padding: 30px;
    margin: 150px 250px;
}
.call-to-action .right {
    display: flex;
    align-items: center;
}
.call-to-action .right button{
    min-height: 40px;
    min-width: 200px;



    background-color: #3882F6;

    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #f9faf8;
    color: #f9faf8;
    font-weight: 600;

}

.footer {
    margin-top: auto;
    background-color: #1f2937;
    color: #f9faf8;

    display: flex;
    justify-content: center;
}